<div class="container">
    <div class="row page-titles">
        <div class="col p-0">
            <h4>Hello, <span>Welcome here</span></h4>
        </div>
        <div class="col p-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="f-s-30 m-b-0">$6,932.60</h2><span class="f-w-600">Total Revenue</span>
                    <div class="m-t-30">
                        <h4 class="f-w-600">2,365</h4>
                        <h6 class="m-t-10 text-muted">Online Earning <span class="pull-right">50%</span></h6>
                        <div class="progress m-t-15 h-6px">
                            <div class="progress-bar bg-primary wow animated progress-animated w-50pc h-6px"
                                role="progressbar">
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 m-b-20">
                        <h4 class="f-w-600">1,250</h4>
                        <h6 class="m-t-10">Offline Earning <span class="pull-right">50%</span></h6>
                        <div class="progress m-t-15 h-6px">
                            <div class="progress-bar bg-info wow animated progress-animated w-50pc h-6px"
                                role="progressbar">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4>VTR <span class="pull-right"><i class="ion-android-upload f-s-30 text-info"></i></span>
                    </h4>
                    <h6 class="m-t-20 f-s-14">90% Complete</h6>
                    <div class="progress m-t-0 h-7px">
                        <div role="progressbar"
                            class="progress-bar bg-info wow animated progress-animated w-90pc h-7px"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="pull-left">Clicks</h5>
                    <div class="dropdown custom-dropdown pull-right">
                        <div data-toggle="dropdown"><i class="ti-more-alt rotate-90 d-inline-block c-pointer"></i>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right"><a href="#"
                                class="dropdown-item f-s-12">Details</a> <a href="#" class="dropdown-item f-s-12">Add
                                New</a> <a href="#" class="dropdown-item f-s-12">Refresh</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="m-t-15 text-center">
                        <h2 class="f-s-50 text-primary">126</h2>
                        <p class="f-s-14">Clicks</p>
                    </div>
                </div>
                <div class="card-footer">
                    <h6 class="m-t-10 text-muted">Online Earning <span class="pull-right">50%</span></h6>
                </div>
                <div class="progress h-3px">
                    <div role="progressbar" class="progress-bar bg-primary wow animated progress-animated w-50pc h-3px">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4>Impressions <span class="pull-right"><i class="ion-android-list f-s-30 text-danger"></i></span>
                    </h4>
                    <h6 class="m-t-20 f-s-14">1,2400,000</h6>
                    <div class="progress m-t-0 h-7px">
                        <div role="progressbar"
                            class="progress-bar bg-danger wow animated progress-animated w-65pc h-7px"></div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="pull-left">Video Plays</h5>
                    <div class="dropdown custom-dropdown pull-right">
                        <div data-toggle="dropdown"><i class="ti-more-alt rotate-90 d-inline-block c-pointer"></i>
                        </div>
                        <div class="dropdown-menu dropdown-menu-right"><a href="#"
                                class="dropdown-item f-s-12">Details</a> <a href="#" class="dropdown-item f-s-12">Add
                                New</a> <a href="#" class="dropdown-item f-s-12">Refresh</a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="m-t-15 text-center">
                        <h2 class="f-s-50 text-primary">126</h2>
                        <p class="f-s-14">Plays</p>
                    </div>
                </div>
                <div class="card-footer">
                    <h6 class="m-t-10 text-muted">VTR<span class="pull-right">50%</span></h6>
                </div>
                <div class="progress h-3px">
                    <div role="progressbar" class="progress-bar bg-primary wow animated progress-animated w-50pc h-3px">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Daily Results</h4>
                    <div id="simple-line-chart" class="ct-chart ct-golden-section"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">SPEND</h4>
                    <div class="ico-sparkline">
                        <div id="sparkline8"><canvas width="1000" height="50"
                                style="display: inline-block; width: 1000px; height: 50px; vertical-align: top;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        <h4>Campaigns</h4>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Date</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td>Kolor Tea Shirt For Man</td>
                                    <td><span class="badge badge-primary">Sale</span>
                                    </td>
                                    <td>January 22</td>
                                    <td class="color-primary">$21.56</td>
                                </tr>
                                <tr>
                                    <th>2</th>
                                    <td>Kolor Tea Shirt For Women</td>
                                    <td><span class="badge badge-success">Tax</span>
                                    </td>
                                    <td>January 30</td>
                                    <td class="color-success">$55.32</td>
                                </tr>
                                <tr>
                                    <th>3</th>
                                    <td>Blue Backpack For Baby</td>
                                    <td><span class="badge badge-danger">Extended</span>
                                    </td>
                                    <td>January 25</td>
                                    <td class="color-danger">$14.85</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>